* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  color: #fff;
  background-color: #5995DA;  /* Blue */
  padding: 20px 0;
  display: flex; /* 1. Set up flex container: this will create the flex container */
  justify-content: center;/* 2. Define the horizontal alignment for its flex items */
  /* Other values for justify-content : center, flex-start, flex-end, space-around ,space-between */
}

.menu {
  /*border: 1px solid #fff;  For debugging */
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.links {
  /*border: 1px solid #fff;  For debugging */
  display: flex;
  justify-content: flex-end;
}

.login {
  margin-left: 20px;
}

.header-container {
  color: #5995DA;
  background-color: #D6E9FE;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* other options for align-items: center, flex-start(top), flex-end (bottom), stretch, baseline */
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.photo-grid-item {
  border: 1px solid #fff;
  width: 300px;
  height: 300px;
}
